
<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold text-uppercase">Welcome to Test App</h1>
    <p class="col-md-8 fs-4">This test will contains total 10 questins. each question holds 10 marks </p>
    <h1>Rules</h1>
    <ul>
        <li>attend all questions</li>
        <li>you have 10 questions</li>
    </ul>
  <h1 style="text-align: center;color: blueviolet;">all the best</h1>
  <div style='margin-bottom:16px' class="name col-md-4 my=3">
    <label for="">Enter your name :</label>
    <input #name type="text" class="form-control">
  </div >
     <button style='margin-right:16px' class="btn btn-primary btn-lg"routerLink="/html" (click)="startTest()">html test</button>
     <button style='margin-right:16px' class="btn btn-primary btn-lg" routerLink="/java" (click)="startTest()">java test</button>
     <button style='margin-right:16px' class="btn btn-primary btn-lg" routerLink="/css" (click)="startTest()">css test</button>

</div>